<!DOCTYPE html>
<html>

<head>
    <title>Ryan's Outfit Picker</title>

    <!-- common stuff for headers -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--open graph tags -->
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="" />
    <meta property="fb:admins" content="" />

    <!-- CSS and scripts -->
    <link href='_css/style.css' rel="stylesheet" type='text/css' media="screen" />
</head>

<body>

    <div id="app" class="container">
    <h1 class="headline">Outfit Picker</h1>
    <section class="results">
        <div class="torso category">
        <span class="label">Torso</span>
        <span class="value">{{selected.torso}}</span>

        </div>
        <div class="legs category">
        <span class="label">Legs</span>
        <span class="value">{{selected.legs}}</span>
        </div>
    </section>
    <section class="settings cap">
        <div class="season-container">
        <label for="season">Season</label>
        <select name="season" id="" v-model="currentSeason" @change="onSeasonChange()">
            <option
            v-for="season in seasons"
            :selected="season === currentSeason"
            :value="season">
            {{season}}
            </option>
        </select>
        </div>
    </section>
    <section class="button-wrapper">
        <div class="button bottom" @click="getOutfit()">Roll</div>
    </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="_js/app.js"></script>

</body>

</html>
