<!DOCTYPE html>
<html>

<head>
    <title>Ryan's Outfit Picker</title>

    <!-- common stuff for headers -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--open graph tags -->
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:site_name" content="" />
    <meta property="fb:admins" content="" />

    <!-- CSS and scripts -->
    <link href='_css/style.css' rel="stylesheet" type='text/css' media="screen" />
</head>

<body>

    <div id="app" class="container">
        <header>
            <h1 class="headline">Ryan&rsquo;s Outfit Picker</h1>
        </header>
        <section class="results">
            <div class="torso category">
                <img class="clothing-icon" :class="selected.torso.icon" v-if="rollWasPressed" :src="`_img/clothing/${selected.torso.icon}.svg`" :alt="selected.icon">
                <span class="label">Torso</span>
                <span class="value">{{selected.torso.text}}</span>
            </div>
            <div class="legs category">
                <img class="clothing-icon" :class="selected.legs.icon" v-if="rollWasPressed" :src="`_img/clothing/${selected.legs.icon}.svg`" :alt="selected.icon">
                <span class="label">Legs</span>
                <span class="value">{{selected.legs.text}}</span>
            </div>
        </section>
        <section class="settings cap">
            <span class="label">Season:</span>
            <div class="season-container">
                <div class="season" @click="changeSeason(season)"v-for="season in seasons" :class="{inactive: season !== currentSeason}">{{season}}</div>
            </div>
        </section>
        <section class="button-wrapper bottom">
            <div class="button" @click="getOutfit()">Roll</div>
        </section>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="_js/app.js"></script>

</body>

</html>
